/* ------------------------------------
 * Typecho Default Theme
 *
 * @author	fen1211@gmail.com
 * @link	http://typecho.net/
 * @update	2009-03-29 14:30
 * --------------------------------- */


/* ------------------
 * gobal settings
 * --------------- */
@font-face {
    font-family: "Real XiangCui ZeroHei";
    src: url("fonts/REAL-XIANGCUI-ZEROHEI.ttf") format("truetype");
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #222 url(images/bg.gif);
    color: #fff;
    font-size: 16px;
    line-height: 1.7;
    font-family: "Real XiangCui ZeroHei", Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

input, textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}

input, textarea {
    font-size: 13px;
    padding: 2px;
}

textarea {
    *padding: 3px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    textarea {
        padding: 3px;
    }
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #3cf;
    text-decoration: underline;
}

pre, code, tt {
    /*font: 12px 'Consolas', SF Pro SC, SF Pro Text, SF Pro Icons, PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;*/
    line-height: 1.5;
    color: #eee;
    font-family: inherit;
    font-weight: lighter;
    font-size: 12px;
    transform: scale(0.95,1);
}

pre {
    margin-bottom: 20px;
    display: block;
    padding: 5px 10px;
}

pre, code {
    overflow-x: auto;
    /*background: #002b36;*/
    border: 1px solid #3cf;
}

code {
    padding: 2px 5px;
    margin: 0 3px;
    display: inline-block;
    vertical-align: bottom;
}

pre code {
    border: 0;
    white-space: pre-wrap;
    word-break: break-all;
}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

blockquote {
    margin: 1.5em;
    color: #666;
    font-style: italic;
}

/*code {display: block; border: 1px solid #AAAAAA; background: #F1ECDD; color: #444; line-height: 16px; overflow: auto;
	font-family: 'andale mono','lucida console',monospace; padding: 10px; margin: 10px 0;}*/

/* Tables
-------------------------------------------------------------- */

/* Tables still need 'cellspacing="0"' in the markup. */
table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

table, td, th {
    vertical-align: middle;
}

table {
    margin-bottom: 1.4em;
    width: 100%;
}

th {
    font-weight: bold;
}

thead th {
    background: #c3d9ff;
}

th, td, caption {
    padding: 4px 10px 4px 5px;
}

tr.even td {
    background: #e5ecf9;
}

tfoot {
    font-style: italic;
}

caption {
    background: #eee;
}

fieldset {
    padding: 1.4em;
    margin: 0 0 1.5em 0;
    border: 1px solid #ccc;
}

legend {
    font-weight: bold;
}


ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* -------------------------
 * reset width to 840px
 * ---------------------- */
.container_16 {
    width: 840px;
}

/* ------------------
 * header
 * --------------- */

#topperimg {
    margin: auto;
    width: 989px;
    background: url(images/ufo.png) no-repeat right top;
    position: relative;
    right: -20px;
    top: -20px;
    padding-top: 20px;
}

#topper {
    margin: auto;
    width: 989px;
    position: relative;
    left: -20px;
}

#topper_logo {
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#topper_logo h1 {
    /*display: none;*/
    font-size: 2.5em;
    text-transform: uppercase;
    font-family: "Real XiangCui ZeroHei";
}

#topper_logo a {
    float: left;
    width: 330px;
    height: 50px;
    /*background: url(images/logo.png);*/
}

#topper_nav_top {
    height: 11px;
    overflow: hidden;
    background: url(images/footer-header.gif);
}

#topper_nav_bot {
    height: 11px;
    overflow: hidden;
    background: url(images/footer-footer.gif);
}

#topper_nav {
    height: 80px;
    background: url(images/footer-content.gif);
}

#topper_nav ul {
    margin: 0;
    float: left;
    width: 560px;
}

#topper_nav_ul {
    padding: 25px 0 0 25px;
}

#topper_nav li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    font-size: 16px;
    padding-left: 15px;
    text-transform: uppercase;
    position: relative;
}

li.current a {
    color: #3cf;
}

#topper_nav .sub-menu {
    display: none;
    position: absolute;
    padding: 10px;
    left: -10px;
    top: 38px;
    width: 242px !important;
    z-index: 99;
    background: #222 url(images/bg.gif);
}

#topper_nav .sub-menu .sub-menu-bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(images/left-bar-content.gif);
}

#topper_nav .sub-menu .sub-menu-border-top {
    height: 6px;
    width: 262px;
    position: absolute;
    top: -3px;
    left: 0px;
    background: url(images/left-bar-header.gif) no-repeat;
}

#topper_nav .sub-menu .sub-menu-border-bottom {
    height: 6px;
    width: 262px;
    position: absolute;
    bottom: -3px;
    left: 0;
    background: url(images/left-bar-footer.gif) no-repeat;
}


#topper_nav .sub-menu.active {
    display: block;
}

#topper_search {
    float: left;
    height: 41px;
    width: 380px;
    padding-top: 17px;
}

span.topper_search_input {
    float: left;
    padding-top: 1px;
}

span.topper_search_input input {
    border: 0;
    width: 252px;
    height: 30px;
    background: url(images/search-bar.gif);
    margin: 0;
    font-size: 16px;
    color: #fff;
    padding: 5px 0 5px 10px;
}

span.topper_search_input input:focus {
    outline: none;
}

span.topper_search_sub {
    float: left;
    padding-left: 15px;
}

/* ------------------
 * content
 * --------------- */
#outmain {
    width: 989px;
    margin: auto;
    padding-top: 25px;
}


#content {
    overflow: hidden;
    width: 707px;
    float: right;
    color: #ddd;
}

.content_top {
    float: right;
    width: 707px;
    height: 12px;
    overflow: hidden;
    background: url(images/post-header.gif) no-repeat bottom;
    clear: both;
}

.content_bot {
    float: right;
    width: 707px;
    height: 42px;
    overflow: hidden;
    background: url(images/post-footer.gif) no-repeat top;
    clear: both;
}

#content p {
    margin-bottom: 20px;
    word-break: break-all;
}

#content img {
    max-width: 100%;
}

#content ol {
    padding-left: 25px;
}

#content ul {
    padding-left: 15px;
}

.post {
    background: url(images/post-content.gif);
    padding: 30px;
    clear: both;
}

.page {
    background: url(images/post-content.gif);
    clear: both;
}

p.more {
    display: none;
}

.post_title {
    clear: both;
}

span.post_title_comments {
    float: left;
    width: 84px;
    height: 48px;
}

span.post_title_comments a {
    float: left;
    width: 63px;
    height: 44px;
    text-align: center;
    font-size: 16px;
    background: url(images/title-comments.png) no-repeat;
    line-height: 45px;
}

span.post_title_comments a:hover {
    padding-top: 45px;
    background: url(images/title-comments.png) no-repeat 0 45px;
    color: #fff;
    transform: translateY(-45px);
}

span.post_title_title {
    float: left;
    width: 516px;
}

span.post_title_title h2 {
    font-size: 22px;
    font-weight: normal;
}

span.post_title_date {
    float: right;
    width: 107px;
    padding-top: 10px;
    color: #999;
    font-style: italic;
    text-align: right;
    font-size: 16px;
}

.post_footer {
    background: url(images/line.gif) repeat-x top;
    padding-top: 25px;
    padding-bottom: 30px;
    clear: both;
}

a.post_link_more {
    float: left;
    width: 222px;
    height: 37px;
    background: url(images/more.png) no-repeat;
    background-position: -7px 0px;
}

a:hover.post_link_more {
    background: url(images/more.png) no-repeat;
    background-position: -237px 0px;
}

a.post_link_comments {
    margin-left: 20px;
    float: left;
    width: 222px;
    height: 37px;
    background: url(images/more.png) no-repeat;
    background-position: -7px -37px;
}

a:hover.post_link_comments {
    background: url(images/more.png) no-repeat;
    background-position: -237px -37px;
}

/* = pages nav */
ol.pages {
    color: #fff;
    list-style: none;
    font-size: 14px;
    line-height: 30px;
    padding: 10px;
    padding-left: 30px;
    clear: both;
}

ol.pages li {
    margin: 0 8px 0 0;
    display: inline;
}

ol.pages li a {
    padding: 4px 8px;
    text-decoration: none;
}

ol.pages li.current a {
    background: #3cf;
    color: #fff;
}

/* ------------------
 * comment list
 * --------------- */
.clearfix {
    clear: both;
}

#comment p {
    margin: 0;
    padding: 0;
}

#comments {
    clear: both;
    padding-top: 50px;
    background: url(images/comments.png) no-repeat;
}

#comments .comment-list {
    padding-left: 0;
}

.comments_img {
    float: left;
    width: 87px;
    height: 87px;
    background: url(images/commenter-border.png);
    padding-top: 5px;
    padding-left: 5px;
}

.comments_children .comments_img {
    width: 48px;
    height: 48px;
    margin-left: 39px;
    background: url(images/children-commenter-border.png);
    padding-top: 3px;
    padding-left: 3px;
}

.comments_children .comments_img img {
    height: 43px;
    width: 43px;
}

.comments_header {
    float: right;
    width: 603px;
    height: 30px;
    background: url(images/commnet-header.gif);
}

.comments_node {
    float: right;
    width: 517px;
    background: url(images/comment-content.gif);
    padding-left: 56px;
    padding-right: 30px;
}

p.comments_date {
    background: url(images/line.gif) repeat-x bottom;
    height: 30px;
    font-size: 12px;
    color: #999;
}

p.comments_date span {
    float: right;
}

p.comments_date a {
    color: #3cf;
    font-weight: bold;
}

.comment_content img {
    max-width: 100%;
}

.comments_footer {
    float: right;
    width: 603px;
    height: 44px;
    background: url(images/comment-footer.gif) no-repeat top left;
}

.comment_reply a {
    display: block;
    margin-top: 5px;
}

.comments_children .comment_reply {
    margin-left: 39px;
}

.comment_respond {
    margin-top: 20px;
    clear: both;
    padding-top: 50px;
    background: url(images/repond.png) no-repeat;
}

.comment_cancel {
    float: right;
}

ol#comment_list li .comment_respond {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#comment_form {
    padding-right: 8px;
}

.comment_respond .cancle_comment_reply {
    float: right;
    font-size: 11px;
    display: none
}

.comment_respond .cancle_comment_reply a {
    border: none;
    color: #aaa;
}

.comment_respond .cancle_comment_reply a:hover {
    color: #444;
}

ol#comment_list li .comment_respond .cancle_comment_reply {
    display: inline;
}

#comment_form label {
    font-size: 14px;
    color: #fff;
    display: block;
    font-weight: bold;
    padding-bottom: 5px;
}

#comment_form label .required {
    color: #3cf;
    padding-left: 5px;
    font-size: 14px;
}

#comment_form .text {
    width: 222px;
    height: 20px;
    padding: 10px;
    background: url(images/leave-a-comment-bg.gif);
    border: 0;
    color: #fff;
}

#comment_form textarea {
    width: 462px;
    height: 178px;
    padding: 10px;
    border: 0;
    color: #fff;
    font-size: 16px;
    background: url(images/leave-a-comment-textarea-bg.gif);
    overflow: hidden;
}

ol#comment_list li .comment_respond .text {
    _width: 400px;
}

ol#comment_list li .comment_respond textarea {
    _width: 400px;
}

/* ------------------
 * sidebar
 * --------------- */
#sidebar {
    float: left;
    width: 262px;
    position: relative;
    top: -80px;
}

#sidebar li {
    list-style: none;
}

.usage-bar {
    width: 100%;
    height: 8px;
    border-radius: 4px;
    background: #eee;
}

.usage-bar .percentage {
    width: 0%;
    height: 8px;
    background: #3cf;
    transition: all .3s cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.usage-bar .text {

}

#sidebar_plan {
    float: left;
    width: 262px;
    position: relative;
    left: -60px;
    top: -20px;
}

#sidebar h3 {
    height: 63px;
    background: url(images/h2.gif);
    line-height: 63px;
    padding-left: 25px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

.widget {
    background: url(images/left-bar-footer.gif) no-repeat bottom;
    padding-bottom: 5px;
    margin-bottom: 28px;
}

#sidebar ul {
    background: url(images/left-bar-content.gif);
    padding: 5px;
    padding-bottom: 20px;
}

#sidebar li {
    background: url(images/line.gif) repeat-x bottom;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar img {
    float: left;
    margin-right: 10px;
    padding-bottom: 2px;
}

#new-comments li {
    font-size: 12px;
    padding-bottom: 25px;
    padding-top: 18px;
}

#new-comments li a {
    color: #3cf;
}

/* ------------------
 * footer 
 * --------------- */
#footer {
    clear: both;
    text-align: right;
    width: 960px;
    height: 380px;
    background: url(images/footer-bg.png) no-repeat bottom;
    margin: auto;
}

/* -----------------
 * misc
 *--------------- */
.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

img.alignleft {
    margin: 4px 15px 0 0;
}

img.alignright {
    margin: 4px 0 0 15px;
}

.alt {
    color: #666;
    font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
    font-weight: normal;
}
